<!-- <body>
    <h1>Employee Review System<%=title%></h1>
</body> -->




<%# # show sweet message we link to create company %>

    <main>
        <div class="card text-center" style="width: 80vw; margin: auto; margin-top:40px; border-radius: 14px; border:1px solid gray">
            <div class="card-body">
                <h5 class="card-title">Welcome to Employee Review System</h5>
                <p class="card-text" style="border:1px solid black; border-radius: 14px; text-align: center; background-color:burlywood; font-size: 1.2rem;">
                    We would like to welcome you to our employee review system.</br>
                    This system is designed to provide valuable feedback on your</br>
                    performance and help you grow in your role. With this system,</br> 
                    you will have the ability to add, remove, update, and assign</br> 
                    any other company person to review your performance.</br></br>
                    We believe that employee reviews are an essential part of pr-<br>
                    ofessional development and a way to ensure that we are meeting</br>
                    our organizational goals. We encourage you to use this system</br> 
                    to its fullest potential and take advantage of the feedback</br> 
                    provided by your peers and managers.</br>
                </p>
                <a href="/create-company" class="btn btn-primary">Get Started</a>
            </div>
        </div>
    </main>
